* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 10px;
    color: yellow;
    background-color: black;
}
/* fine common */

/* container */
.container {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.container .red {
    background-color: red;
}

.container .green {
    background-color: green;
}

.container .yellow {
    background-color: yellow;
}
/* fine container */



/* nav */
nav {
    position: fixed;
    right: 0;
    top: 0;
    padding: 5px;
    z-index: 99;
}

nav li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding-right: 10px;
}

nav li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px ;
    margin-left: 10px;
    background-color: white;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: black;
}
/* fine nav */

/* box */
.box {
    position: relative;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box h2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* fine box */

/* img */
#superga {
    background-image: url(../img/01.png);
    background-position:center;
    background-size: 50%;
}

#tommy {
    background-image: url(../img/02.png);
    background-position:center;
    background-size: 50%;
}

#converse {
    background-image: url(../img/03.png);
    background-position:center;
    background-size: 50%;
}
/* fine img */

/* text-green */
.text-green {
    color: green;
}
/* fine text-green */

html {
    scroll-behavior: smooth;
}

